.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 46px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.56);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../images/header/home/mobile-img.jpg);
  background-size: cover;

  @media screen and (min-width: $tablet) {
    background-image: url(../images/header/home/tablet-img.jpg);
    background-position: cover;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/header/home/desktop-img.jpg);
    background-position: cover;
  }
}

.main-navigation {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}

.text-logo {
  margin-left: 10px;
  font-size: 30px;
  line-height: 1.167;
  color: $white-color;

  @media screen and (max-width: ($tablet)-1) {
    display: none;
  }
}

//стили навигации для Home page

.navigation {
  display: flex;
}

.nav-list {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.nav-link {
  line-height: 1.16;
  color: $white-color;
}

.navigation .link.current {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: -3px;

    content: '';

    width: 100%;
    height: 3px;
    background-color: $focus-color;
  }
}

// Стили для формы страницы Home page

.form {
  margin-bottom: 20px;
  border-bottom: 0.5px solid $white-color;

  @media screen and (min-width: $tablet) {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-input {
  border: none;
  outline: none;
  width: 94%;
  background: transparent;
  color: $white-color;

  &::placeholder {
    color: $white-color;
    font-size: 14px;
    line-height: 1.143;
  }

  @media screen and (min-width: $tablet) {
    width: 95%;
  }
}

.form-button {
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
}

.hidden {
  visibility: hidden;
}

.search-error {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.143;
  color: #ff001b;

  @media screen and (min-width: $tablet) {
    text-align: center;
  }
}

// Стиди для кнопок страницы My Library

.library-nav {
  display: flex;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    text-align: center;
  }
}

.library-item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  .library-btn {
    display: inline-block;
    padding: 14px 36px 12px;
    background: transparent;
    width: 130px;
    border: 1px solid $white-color;
    border-radius: 5px;

    font-size: 12px;
    line-height: 1.333;
    color: $white-color;

    @media screen and (min-width: $tablet) {
      width: 136px;
    }
  }

  .library-btn.current {
    background-color: $focus-color;
    border: none;
  }
}
